In [14]:
'''
Имеется директория с данными под названием data.
В ней три поддиректории - dir_1, dir_2, dir_3.
В каждой из них есть набор файлов вида file_0.txt, file_1.txt, ... , file_24.txt.
Файлы с некоторыми номерами могут отсутствовать (например, в dir_1 нет как минимум файла file_7.txt).
В каждом файле записано одно целое число.
Требуется сделать скрипт, который на основании этих данных сгенерирует файл out.csv (очевидно, в формате "csv"), с тремя столбцами:
id, date, sum
В столбец id записать номер файла из имени. То есть, для файла file_5.txt в столбце должно быть записано "5".
В столбце date указать сегодняшнюю дату (Да, она будет во всех строчках одинаковая) в формате "yyyy.mm.dd"
В столбце sum записать либо
а) сумму чисел, записанных в файлах с одинаковыми именами (например, dir_1/file_5.txt, dir_2/file_5.txt, dir_3/file_5.txt), если все три файла существуют
б) дефис (прочерк), если хотя бы в одной из директорий dir_1, dir_2 и dir_3 не окажется файла с таким именем.
В качестве результата работы прислать собственно скрипт и получившийся csv-файл.
'''

In [93]:
import os
from pathlib import Path
import csv
from datetime import datetime
import numpy as np
import re
import pandas as pd

In [3]:
# Проверка текущей директории
os.getcwd()

'/content'

In [4]:
# Создаем корневую папку
os.mkdir('data')

In [5]:
# Создаем вложенные директории
os.chdir('data')
os.makedirs('dir_1')
os.makedirs('dir_2')
os.makedirs('dir_3')

In [6]:
# Создаем текстовые файлы, согласно заданию
t = int(input())
for i in range(t):
    my_file = open(f'/content/data/dir_1/file_{i}.txt', mode = 'w', encoding='UTF-8')
    my_file.writelines(f"{i}")
    my_file = open(f'/content/data/dir_2/file_{i}.txt', mode = 'w', encoding='UTF-8')
    my_file.writelines(f"{i}")
    my_file = open(f'/content/data/dir_3/file_{i}.txt', mode = 'w', encoding='UTF-8')
    my_file.writelines(f"{i}")

25

In [7]:
# Проверим директории и файлы, всё ли на месте
for dirpath, dirnames, filenames in os.walk('.'):
    for dirname in dirnames:
      print('Каталог:', os.path.join(dirpath, dirname))
    for filename in filenames:
      print('Файл:', os.path.join(dirpath, filename))

Каталог: ./dir_3
Каталог: ./dir_2
Каталог: ./dir_1
Файл: ./dir_3/file_13.txt
Файл: ./dir_3/file_0.txt
Файл: ./dir_3/file_4.txt
Файл: ./dir_3/file_21.txt
Файл: ./dir_3/file_11.txt
Файл: ./dir_3/file_19.txt
Файл: ./dir_3/file_15.txt
Файл: ./dir_3/file_17.txt
Файл: ./dir_3/file_20.txt
Файл: ./dir_3/file_3.txt
Файл: ./dir_3/file_12.txt
Файл: ./dir_3/file_8.txt
Файл: ./dir_3/file_24.txt
Файл: ./dir_3/file_18.txt
Файл: ./dir_3/file_16.txt
Файл: ./dir_3/file_6.txt
Файл: ./dir_3/file_1.txt
Файл: ./dir_3/file_10.txt
Файл: ./dir_3/file_5.txt
Файл: ./dir_3/file_9.txt
Файл: ./dir_3/file_2.txt
Файл: ./dir_3/file_22.txt
Файл: ./dir_3/file_14.txt
Файл: ./dir_3/file_7.txt
Файл: ./dir_3/file_23.txt
Файл: ./dir_2/file_13.txt
Файл: ./dir_2/file_0.txt
Файл: ./dir_2/file_4.txt
Файл: ./dir_2/file_21.txt
Файл: ./dir_2/file_11.txt
Файл: ./dir_2/file_19.txt
Файл: ./dir_2/file_15.txt
Файл: ./dir_2/file_17.txt
Файл: ./dir_2/file_20.txt
Файл: ./dir_2/file_3.txt
Файл: ./dir_2/file_12.txt
Файл: ./dir_2/file_8.txt
Файл: ./dir_2/file_24.txt
Файл: ./dir_2/file_18.txt
Файл: ./dir_2/file_16.txt
Файл: ./dir_2/file_6.txt
Файл: ./dir_2/file_1.txt
Файл: ./dir_2/file_10.txt
Файл: ./dir_2/file_5.txt
Файл: ./dir_2/file_9.txt
Файл: ./dir_2/file_2.txt
Файл: ./dir_2/file_22.txt
Файл: ./dir_2/file_14.txt
Файл: ./dir_2/file_7.txt
Файл: ./dir_2/file_23.txt
Файл: ./dir_1/file_13.txt
Файл: ./dir_1/file_0.txt
Файл: ./dir_1/file_4.txt
Файл: ./dir_1/file_21.txt
Файл: ./dir_1/file_11.txt
Файл: ./dir_1/file_19.txt
Файл: ./dir_1/file_15.txt
Файл: ./dir_1/file_17.txt
Файл: ./dir_1/file_20.txt
Файл: ./dir_1/file_3.txt
Файл: ./dir_1/file_12.txt
Файл: ./dir_1/file_8.txt
Файл: ./dir_1/file_24.txt
Файл: ./dir_1/file_18.txt
Файл: ./dir_1/file_16.txt
Файл: ./dir_1/file_6.txt
Файл: ./dir_1/file_1.txt
Файл: ./dir_1/file_10.txt
Файл: ./dir_1/file_5.txt
Файл: ./dir_1/file_9.txt
Файл: ./dir_1/file_2.txt
Файл: ./dir_1/file_22.txt
Файл: ./dir_1/file_14.txt
Файл: ./dir_1/file_7.txt
Файл: ./dir_1/file_23.txt

In [8]:
# Для выполнения задания требуется убрать некоторые файлы
os.remove('/content/data/dir_1/file_2.txt')
os.remove('/content/data/dir_1/file_5.txt')
os.remove('/content/data/dir_1/file_17.txt')
os.remove('/content/data/dir_1/file_24.txt')

In [9]:
# И еще раз проверим, действительно ли все файлы как нужно сформированы
for dirpath, dirnames, filenames in os.walk('.'):
    for dirname in dirnames:
      print('Каталог:', os.path.join(dirpath, dirname))
    for filename in filenames:
      print('Файл:', os.path.join(dirpath, filename))

Каталог: ./dir_3
Каталог: ./dir_2
Каталог: ./dir_1
Файл: ./dir_3/file_13.txt
Файл: ./dir_3/file_0.txt
Файл: ./dir_3/file_4.txt
Файл: ./dir_3/file_21.txt
Файл: ./dir_3/file_11.txt
Файл: ./dir_3/file_19.txt
Файл: ./dir_3/file_15.txt
Файл: ./dir_3/file_17.txt
Файл: ./dir_3/file_20.txt
Файл: ./dir_3/file_3.txt
Файл: ./dir_3/file_12.txt
Файл: ./dir_3/file_8.txt
Файл: ./dir_3/file_24.txt
Файл: ./dir_3/file_18.txt
Файл: ./dir_3/file_16.txt
Файл: ./dir_3/file_6.txt
Файл: ./dir_3/file_1.txt
Файл: ./dir_3/file_10.txt
Файл: ./dir_3/file_5.txt
Файл: ./dir_3/file_9.txt
Файл: ./dir_3/file_2.txt
Файл: ./dir_3/file_22.txt
Файл: ./dir_3/file_14.txt
Файл: ./dir_3/file_7.txt
Файл: ./dir_3/file_23.txt
Файл: ./dir_2/file_13.txt
Файл: ./dir_2/file_0.txt
Файл: ./dir_2/file_4.txt
Файл: ./dir_2/file_21.txt
Файл: ./dir_2/file_11.txt
Файл: ./dir_2/file_19.txt
Файл: ./dir_2/file_15.txt
Файл: ./dir_2/file_17.txt
Файл: ./dir_2/file_20.txt
Файл: ./dir_2/file_3.txt
Файл: ./dir_2/file_12.txt
Файл: ./dir_2/file_8.txt
Файл: ./dir_2/file_24.txt
Файл: ./dir_2/file_18.txt
Файл: ./dir_2/file_16.txt
Файл: ./dir_2/file_6.txt
Файл: ./dir_2/file_1.txt
Файл: ./dir_2/file_10.txt
Файл: ./dir_2/file_5.txt
Файл: ./dir_2/file_9.txt
Файл: ./dir_2/file_2.txt
Файл: ./dir_2/file_22.txt
Файл: ./dir_2/file_14.txt
Файл: ./dir_2/file_7.txt
Файл: ./dir_2/file_23.txt
Файл: ./dir_1/file_13.txt
Файл: ./dir_1/file_0.txt
Файл: ./dir_1/file_4.txt
Файл: ./dir_1/file_21.txt
Файл: ./dir_1/file_11.txt
Файл: ./dir_1/file_19.txt
Файл: ./dir_1/file_15.txt
Файл: ./dir_1/file_20.txt
Файл: ./dir_1/file_3.txt
Файл: ./dir_1/file_12.txt
Файл: ./dir_1/file_8.txt
Файл: ./dir_1/file_18.txt
Файл: ./dir_1/file_16.txt
Файл: ./dir_1/file_6.txt
Файл: ./dir_1/file_1.txt
Файл: ./dir_1/file_10.txt
Файл: ./dir_1/file_9.txt
Файл: ./dir_1/file_22.txt
Файл: ./dir_1/file_14.txt
Файл: ./dir_1/file_7.txt
Файл: ./dir_1/file_23.txt

In [11]:
# Проверка директории текущей
os.getcwd()

'/content/data'

In [96]:
# Формирование словаря
duplicate_files = {}

for dirname, dirs, filenames in os.walk('.'):
         for filename in filenames:
          try:
            with open(os.path.join(dirname, filename), 'r') as f:
             a = float(f.read())
             duplicate_files.setdefault(filename, []).append(a)
          except:
             continue
duplicate_files = {k: v for k, v in duplicate_files.items() if len(v) > 0} # сам словарь
keys_list = list(duplicate_files) # отберем список с названиями ключей
new_keys = [re.sub("[^0-9-]", "", x) for x in keys_list] # уберем из названий ключей всё, что не является цифрами
final_dict = dict(zip(new_keys, list(duplicate_files.values()))) # новые ключи соединяем со словарем
final_dict = {int(k): v for k, v in final_dict.items() if len(v) > 0 } # ключи оборачиваем в целочисленные int
final_dict

{13: [13.0, 13.0, 13.0],
 0: [0.0, 0.0, 0.0],
 4: [4.0, 4.0, 4.0],
 21: [21.0, 21.0, 21.0],
 11: [11.0, 11.0, 11.0],
 19: [19.0, 19.0, 19.0],
 15: [15.0, 15.0, 15.0],
 17: [17.0, 17.0],
 20: [20.0, 20.0, 20.0],
 3: [3.0, 3.0, 3.0],
 12: [12.0, 12.0, 12.0],
 8: [8.0, 8.0, 8.0],
 18: [18.0, 18.0, 18.0],
 16: [16.0, 16.0, 16.0],
 6: [6.0, 6.0, 6.0],
 1: [1.0, 1.0, 1.0],
 10: [10.0, 10.0, 10.0],
 5: [5.0, 5.0],
 9: [9.0, 9.0, 9.0],
 2: [2.0, 2.0],
 22: [22.0, 22.0, 22.0],
 14: [14.0, 14.0, 14.0],
 7: [7.0, 7.0, 7.0],
 23: [23.0, 23.0, 23.0],
 24: [24.0]}

In [97]:
# Формируем датафрейм пандас для дальнейшей обработки
df_1 = pd.DataFrame.from_dict(final_dict, orient = 'index') # Создание датафрейма из словаря
df_1 = df_1.sort_index(axis = 'index', ascending = True) # Отсортируем значения индекса по возрастанию
df_1['Date'] = datetime.now().strftime('%Y.%m.%d') # Добавим столбец Дата с текущей датой
df_1['sum'] = df_1.dropna().filter(items =[0, 1, 2]).sum(1) # Суммируем только те строки, где есть все значения
df_1 = df_1.drop(columns = [0, 1, 2]) # Удаляем ненужные столбцы
df_1

          Date   sum
0   2023.05.27   0.0
1   2023.05.27   3.0
2   2023.05.27   NaN
3   2023.05.27   9.0
4   2023.05.27  12.0
5   2023.05.27   NaN
6   2023.05.27  18.0
7   2023.05.27  21.0
8   2023.05.27  24.0
9   2023.05.27  27.0
10  2023.05.27  30.0
11  2023.05.27  33.0
12  2023.05.27  36.0
13  2023.05.27  39.0
14  2023.05.27  42.0
15  2023.05.27  45.0
16  2023.05.27  48.0
17  2023.05.27   NaN
18  2023.05.27  54.0
19  2023.05.27  57.0
20  2023.05.27  60.0
21  2023.05.27  63.0
22  2023.05.27  66.0
23  2023.05.27  69.0
24  2023.05.27   NaN

In [92]:
# Сохраняем документ с названием 'out.csv' согласно заданию
df_1.to_csv('out.csv')